# Virtual Environment
venv/
__pycache__/
**/__pycache__
*.pyc

# IDE Specific Files
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/
**/*egg-info/
docs/latex/
.pytest_cache
.ruff_cache
.git
"""
